.App {
  margin: 30px auto;
  max-width: 900px;
}

h1,
h5 {
  font-family: "Comic Neue", cursive;
}

h1 {
  text-align: center;
  font-weight: bolder;
  margin: 0;
  font-size: 40px;
  line-height: 50px;
}

.fa-search {
  color: rgb(35, 35, 99);
  font-size: 30px;
}

.fa-location-arrow {
  color: rgb(35, 35, 99);
  font-size: 30px;
}

.fa-map-pin {
  color: red;
}

.search {
  margin: 0 auto;
  width: 500px;
}

.author {
  font-family: "Comic Neue", cursive;
  text-align: center;
}

#celsius {
  color: rgba(26, 24, 24, 0.89);
}

#fahrenheit {
  color: rgba(26, 24, 24, 0.89);
}

.Weather {
  padding: 50px;
  border: 1px solid rgb(52, 108, 165);
  border-radius: 5px;
  background-color: rgb(52, 108, 165);
}
