.App {
  margin: 30px auto;
  max-width: 650px;
}

.App footer {
  text-align: center;
  font-size: 11px;
  margin: 10px 0;
}

.fa-search {
  color: rgb(35, 35, 99);
  font-size: 30px;
}

.fa-location-arrow {
  color: rgb(35, 35, 99);
  font-size: 30px;
}

.fa-map-pin {
  color: red;
}

.search {
  margin: 0 auto;
  width: 500px;
}

.author {
  font-family: "Comic Neue", cursive;
  text-align: center;
}

#celsius {
  color: rgba(26, 24, 24, 0.89);
}

#fahrenheit {
  color: rgba(26, 24, 24, 0.89);
}

#WeatherIcon {
  display: block;
  max-width: 400px;
  margin: 0 auto;
}
