.Weather {
  padding: 40px;
  border: 1px solid rgb(52, 108, 165);
  border-radius: 5px;
  background-color: rgb(52, 108, 165);
}

.Weather h1,
h3,
h5 {
  font-family: "Comic Neue", cursive;
}

.Weather h1 {
  text-align: center;
  font-weight: bolder;
  margin: 0;
  font-size: 40px;
  line-height: 50px;
}

.Weather .todayWeather {
  margin: 50px 0px 50px 0px;
  padding: 0px auto;
  border: 2px solid;
  color: rgb(52, 108, 165);
}

.Weather h3 {
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
}

.Weather h5 {
  font-size: 30px;
}
